@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --primary-Moderate-violet: hsl(263, 55%, 52%);
    --primary-Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --primary-Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --neutral-Light-gray: hsl(0, 0%, 81%);
    --neutral-Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--neutral-Light-grayish-blue);
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

h1 {
    color: var(--neutral-Light-gray);
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: var(--neutral-Light-gray);
    font-size: 1.25rem;
    opacity: 50%;
}

h3 {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -5px;
}

p {
    color: inherit;
    opacity: 70%;
    line-height: 1.5;
}

div.wrapper {
    display: grid;
    gap: 2rem;
}

.photo {
    border-radius: 100%;
    height: 60px;
}

.daniel-grid {
    background-color: var(--primary-Moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-position: 260px 25px;
    background-repeat: no-repeat;  
}

.daniel-grid .photo {
  border: 3px solid rgb(222, 163, 245);
}

.jonathan-grid {
    background-color: var(--primary-Very-dark-grayish-blue);
}

.jeanette-grid,
.kira-grid {
    background-color: white;
    color: var(--primary-Very-dark-blackish-blue);
    opacity: 70%;
}

.jeanette-grid h1,
.kira-grid h1{
    color: var(--primary-Very-dark-blackish-blue);
}

.jeanette-grid h2,
.kira-grid h2{
    color: var(--primary-Very-dark-blackish-blue);
    opacity: 50%;
}



.patrick-grid {
    background-color: var(--primary-Very-dark-blackish-blue);
}

.patrick-grid .photo {
    border: 3px solid var(--primary-Moderate-violet);
}

.testimonial {
    padding: 2rem;
    border-radius: 0.5rem;
}

div.reviewer {
  display: flex;
  flex-wrap: wrap;
}

div.reviewer-name-section {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

div.reviewer-name-section h1 {
    margin-bottom: -15px;
}


/* Footer */
.attribution { 
    color: var(--primary-Very-dark-blackish-blue);
    font-size: 11px; 
    text-align: center;
    padding-top: 20px;
}

.attribution a { 
    color: var(--primary-Very-dark-blackish-blue);
}

.attribution a:hover {
    color: var(--primary-Moderate-violet);
    cursor: pointer;
}


/*Media Queries*/
@media screen and (min-width: 768px) {
    div.wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .daniel-grid {
        background-color: var(--primary-Moderate-violet);
        background-image: url(images/bg-pattern-quotation.svg);
        background-position: 450px 25px;
        background-repeat: no-repeat;
        background-size: 120px 130px;
    }

    .testimonial:last-child {
        /*kira grid*/
       grid-column-start: 4;
       grid-row-start: 1;
       grid-row-end: 3;
       
    }

    .daniel-grid,
    .patrick-grid {
        grid-column: span 2;
    }
}


